.footer {
  display: flex;
  justify-content: center;
  /* position: fixed;
  margin-top: auto;
  bottom: 0; */
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 11px;
  color: #8e8e8e;
}

.footer a {
  margin-bottom: 12px;
  color: #8e8e8e;
}

.footer__content {
  width: 662px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
}

.footer__links {
  display: flex;
  justify-content: space-around;
}

.footer__info {
  display: flex;
  padding: 6px 0px 6px 0px;
}

.footer__lang {
  display: flex;
  padding: 0px 8px 12px 8px;
}

.footer__lang > img {
  margin-left: 4px;
  cursor: pointer;
}

.footer__rights {
  padding: 0px 8px 12px 16px;
}
