.footer {
  display: flex;
  justify-content: center;
}

.footer__content {
  width: 662px;
  height: 58px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}
