.side-bar {
  /* position: -webkit-sticky; */
  position: absolute;
  top: 0;
  z-index: 10;
  width: 244px;
  height: 100vh;
  background-color: #ffffff;
}

.side-bar__logo {
  width: 103px;
  height: 29px;
  margin-top: 40px;
  margin-left: 24px;
}

.nav {
  margin-top: 31px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 4px 0;
  /* background-color: blue; */
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 12px;
  /* margin: 4px 0;  */
  margin-bottom: 8px;
  /* background-color: aqua; */
}

.nav__icon {
  width: 24px;
  height: auto;
}

.nav__text {
  padding-left: 16px;
}

.nav__profile {
  display: flex;
  align-items: center;
  padding: 12px;
  /* background-color: aqua; */
}

.nav__profile-icon {
  width: 24px;
  height: auto;
  border-radius: 50%;
}

.nav__more {
  margin-top: 4px;
  display: flex;
  align-items: center;
  padding: 12px;
}
