@import "reset.css";

@import "sidebar.css";
@import "user-header.css";
@import "stories.css";
@import "toggle.css";
@import "user-posts.css";
@import "footer.css";

@import "utils.css";

body {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #262626;
  background-color: #fafafa;
}

a {
  color: #262626;
}

.content {
  width: 935px;
  font-family: "Segoe UI", "Roboto", Arial, sans-serif;
  /* height: 100vh; */
  /* margin-left: 50%;
  transform: translateX(-50%);*/
  /* background-color: aqua; */
}
