.d-flex {
  display: flex;
}

.d-flex-center {
  display: flex;
  align-items: center;
}

.text-bold {
  font-weight: 600;
}

.pad-8-center {
  padding: 8px;
  display: flex;
  align-items: center;
}

.pad-v-14 {
  padding: 14px 0;
}

.pad-v-20 {
  padding: 20px 0;
}

.lh-24 {
  font-size: 16px;
  line-height: 24px;
}
